# This is Git's per-user configuration file.
[user]
	# Please adapt and uncomment the following lines:
	name = Ross Lannen
	email = ross.lannen@gmail.com
[core]
	autocrlf = input
	editor = vim
[alias]
	s = status
	b = branch
	d = diff
	f = fetch
	r = rebase
	dc = diff --cached
	co = checkout
	l = log --pretty=format:\"-- %h %ad %s\" --date=short
	ff = pull --ff-only
[merge]
	tool = emerge
[pull]
	rebase = true
